/* Global styles */
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Comfortaa:wght@400;700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
    box-sizing: border-box;
}

*::selection {
    background-color: #07A6EA;
}

html {
    color: #F8F8F8;
    font-family: Comfortaa, cursive;
    font-size: 20px;
    line-height: 1.25;
    scroll-behavior: smooth;
    text-align: center;
}

body {
    background-color: #1A1B29;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Bungee, cursive;
}

a {
    color: #F8F8F8;
    text-decoration: none;
    transition: all 250ms ease;
}

.container {
    margin: 0 auto;
    width: 1250px;
}

/* Navigation bar styles */
nav {
    background-color: #1B1B1B;
    height: fit-content;
    position: fixed;
    width: 100%;
}

ul.navbar-menu {
    align-items: center;
    display: flex;
    height: 75px;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.navbar-menu a {
    border: 3px solid #141414;
    border-radius: 7.5px;
    padding: 7.5px 15px;
}

.navbar-menu a:hover {
    border-color: #F8F8F8;
}

/* Header styles */
header {
    align-items: center;
    display: flex;
    font-size: 3em;
    justify-content: center;
    height: 100vh;
    padding: 10px;
}

/* Main content styles */
main {
    border-bottom: 5px solid #F8F8F8;
    border-top: 5px solid #F8F8F8;
}

article {
    background-color: #1B1B1B;
    border-left: 5px dashed #F8F8F8;
    margin: 20px 0;
    padding: 2.5px;
    padding-left: 20px;
    text-align: left;
}

/* Footer styles */
footer {
    background-color: #141414;
    padding: 10px;
}

footer iframe {
    width: 90%;
}

/* Responsive styles */
@media only screen and (max-width: 1250px) {
    .container {
        width: 95%;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 15px;
    }
}
