/*? Global */

* {
  font-family: "Comfortaa", cursive;
}

body.home {
  height: 100vh;
  background: purple;
  /* ! Actual background - change when publish */
  background: url("/assets/images/TPDC-banner.png");
  /* background: url("https://imgur.com/ThmOppE"); */
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  height: 100%;
}
a {
  text-decoration: none;
}

/* Colours all of the icon links white */
a > i {
  color: white;
}
a > i:hover {
  color: rgb(211, 211, 211);
}

/*? End Global */

/*? General */

/* Icon size */
.icon {
  font-size: 2rem;
}

/*? Main Pages */
#header {
  height: auto;
  /* background: url("/assets/images/TPDC-banner.png");
  background-repeat: no-repeat;
  background-size: cover; */
}
body.main {
  background: url("/assets/images/TPDC-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
}
