/*? Global */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header a,
h2 {
  font-family: "Bungee", cursive;
}

* {
  font-family: "Comfortaa", cursive;
}

body.home {
  /* background: purple; */
  /* ! Actual background - change when publish */
  /* background: url("/assets/images/TPDC-banner.png"); */
  /* background: url("https://imgur.com/ThmOppE"); */
  background-repeat: no-repeat;
  background-size: cover;
}

#content {
  height: 100%;
}

a {
  text-decoration: none;
}

/* Colours all of the icon links white */
a > i {
  color: white;
}

a > i:hover {
  color: rgb(211, 211, 211);
}

.parallax-window {
  width: 100%;
}

/*? End Global */

/*? General */

/* Icon size */
.icon {
  font-size: 2rem;
}

/*? Navbar */
/* .fixed-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
} */

/*? Title Screen */
#header {
  height: auto;
  /* background: url("/assets/images/TPDC-banner.png");
  background-repeat: no-repeat;
  background-size: cover; */
}

#title-container {
  height: 100vh;
}

@media only screen and (max-width: 576px) {
  .countdown-cont * {
    font-size: 1.5rem;
  }
  .sub-text {
    font-size: 1.5rem !important;
  }
  .content-title,
  .title {
    font-size: 4rem;
  }
}

/* Countdown text color */
.flipdown * {
  color: white !important;
}
.rotor-group-heading:before {
  color: white !important;
}
.flipdown.flipdown__theme-dark
  .rotor-group:nth-child(n + 2):nth-child(-n + 3):before,
.flipdown.flipdown__theme-dark
  .rotor-group:nth-child(n + 2):nth-child(-n + 3):after {
  background-color: white !important;
}

/* About us cards */
#cards .card-container {
  align-self: baseline !important;
}

/*? Footer */
#discord-widget {
  width: 100%;
}

footer {
  background-color: #202225;
  padding: 15px;
}
